.board{ 
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 800px;
    max-height: 800px;
    justify-content: center;
    justify-items: center;
}

.single-tile-btn {
    box-shadow: 0px 0px 0px;
}
.single-tile-btn:hover {
    border-style: solid;
    border-color: salmon;
    box-shadow: 0px 0px 0px;
}


.userOptions{
    background-color: rebeccapurple;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between
};

.userOptions img{
    border-color: seagreen;
    max-width: 60px;

}
.play-img{
    border-style: solid;

}

.userOptions button{
    padding: 0;
    margin: 0;
    width: 150px
}
.userOptions button:hover {
    box-shadow: 0px 0px 0px;
}