@font-face {
    font-family: "SnowkyBrush";
    src: url("./fonts/snowkybrush.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis";
    src: url("./fonts/Metropolis-Regular.woff2") format("woff2"),
      url("./fonts/Metropolis-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  

h1{
    font-family: "Metropolis";
}

.container{
    display: flex;
    justify-content: center;
}

button{

    background-color: #fafafa;
    border-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 900;
    margin: 20px;
    color: #f1fabc; 
    -webkit-text-stroke: 1px #0F0702;
}

button:hover {
    box-shadow: 6px 4px 4px #0F0702;
}

button:focus {
    outline:0;
}

.none{
    display: none;
}

.peppermint-btn{
    background-image: url("https://res.cloudinary.com/ddoc8nfxb/image/upload/v1586989554/500585_akhqqk.png");
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 40px;
}

.chocolat-btn{
    background-image: url("https://res.cloudinary.com/ddoc8nfxb/image/upload/v1587046435/860602_h2tunw.png");
    border-radius: 5px;
    height: 100px;
    width: 200px;
    font-size: 40px;

}

.chocolat-btn:active {
    border-style: solid;
    border-width: 5px;
    border-color: #4B250A;
}