.board{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.board img{
    width: 100%;
}

.userOptions{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.userOptions img{
    width: 100px;
}

.gingerLeft img{
    width: 100px;
}

.gingerRight img{
    width: 100px;
}

.gingerRight{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
.game{
    display: flex;
}

.highlightClass{
    opacity: 0.5;
}