.board{ 
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    max-width: 200px;
    /* max-height: 200px; */
}

.board img{
    object-fit: cover;
}

single-tile {
    width: auto;
}

/* .single-tile img{
    object-fit: cover;
} */

/* 
.userOptions{
    position: fixed;
    bottom: 0;
    width: 60%;
    margin: 50px; */
    /* justify-self: center; */
    /* display: flex;
    justify-content: space-between;
    background-color: #c7ff67;
} */

/* .userOptions img{
    width: 100px;
    /* display: flex; */
    /* flex-direction: row;
}

.playImg{

} */