.nav-bar{
    position: fixed;
    top: 0;
    right: 0;
    /* padding: 30px 0px; */
    width: 100%;
    background-color:   #4b250a ;
    display: flex;
    justify-content: center;
}

.nav-bar a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: #e6cc56;
    text-shadow: 1px 1px  #ccbc75;
    margin: 30px 150px;
}

.nav-bar a:hover{
color:  #ffeb92 ;
}